@model Web.Models.PostModel


<!-- Blog Post -->
<!-- Title -->
<h1>@Model.Title</h1>
<!-- Author -->
<p class="lead">
    by <a href="#">@Model.User.Name</a>
</p>
<hr>
<!-- Date/Time -->
<p>
    <span class="glyphicon glyphicon-time"></span> Posted on @Model.PostedOn
</p>
<hr>
<!-- Preview Image -->
<img class="img-responsive" src="http://placehold.it/900x300" alt="">
<hr>
<!-- Post Content -->
@Model.Description
<hr>
<!-- Blog Comments -->
<!-- Comments Form -->


@Html.Action("Comment","Post",new {postId=Model.Id})

<hr>
<!-- Posted Comments -->
<!-- Comment -->
@foreach (var comment in Model.Comments)
{
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="http://placehold.it/64x64" alt="">
        </a>
        <div class="media-body">
            <h4 class="media-heading">
                @comment.User.Name
                <small>@comment.DateTime</small>
            </h4>
            @comment.Content
        </div>
    </div>
}
